pre {
  color: #fff;
  background: black;
  padding: 10px;
  margin-top: 12px;
}

:ng-deep {
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  width: 300px;
  float: left;
}

pre {
  max-height: 800px;
  overflow: auto;
}

.mat-selection-list.mat-list-base {
  max-height: 400px;
  overflow: auto;
}
