.contentWrapper {
  padding-top: 70px;
  margin-left: 70px;
}
.page-container {
  background-color: #fff;
}

header {
  .menu {
    padding: 10px;
    color: white;
    font-size: xx-large;
  }
}

.app-page-container {
  padding-top: 65px;
}
